[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-select2 = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
