<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recipes - Settings</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Recipe Generator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      #register, #login, #settings, .navbar-brand{
        color: white; 
      }
      #myId {
        background-color: #8fa4db;
      }
      #password-form {
        position: fixed;
        top: 35%;
        left: 38%;
        margin-top: -50px;
        margin-left: -50px;
        width: 487px;
        border: 1px solid black;
      }
      input {
        margin-bottom: 10px;
        width: 40%;
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-light" id="myId">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Recipes</a>
        </div>
      </div>
  </nav>    
  <form id='password-form' action='/password' method='POST'>
      <div class='container'>
          <h1>Change Password</h1>
          <div class='inputbox'>
            <input id='current-password' type='password' placeholder='Current Password' name='curr-pw' required><br>
            <input id='new-password' type='password' placeholder='New Password' name='new-pw' required><br>
            <input type='submit' type='Submit' value='Change Password'>
          </div>
      </div>
  </form>
</body>
</html>